@import url("https://linuz90.github.io/better-roam-research/main.css");

.rm-bold, .rm-attr-ref{
    color: #A2F4CD;
}

.rm-highlight {
    background-color: #E8E6B5 !important;
    border-radius: 4px;
    color: black;
}

.rm-page-ref--tag {
    color: #d2c9e0;
    font-weight: bold;
}

code {
    margin: 2px;
    padding: 2px 4px;
    font-size: 90%;
    color: #FF4675;
    background-color: #20070E;
    border-width: 0px;
}



.rm-heading-level-2 > .rm-block-main span {
    font-size: 19px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--c1);
}

.rm-heading-level-3 > .rm-block-main span {
    margin-top: -1px;
    font-weight: 400;
    color: var(--c2);
}

.rm-block-text {
    font-weight: 150;
    line-height: 1.6em;
}




