Last login: Sun Jan 10 11:47:50 on console

# tim @ Tims-MBP-2018 in ~ [13:06:24]
$ cd ~/workspace

# tim @ Tims-MBP-2018 in ~/workspace [13:06:28]
$ ll
total 0
drwxr-xr-x  4 tim  staff   128B Jan 18  2020 kata

# tim @ Tims-MBP-2018 in ~/workspace [13:06:29]
$ git clone git@github.com:codeGhost2018/roamResearchTheme.git
Cloning into 'roamResearchTheme'...
Warning: Permanently added the RSA host key for IP address '52.74.223.119' to the list of known hosts.
warning: You appear to have cloned an empty repository.

# tim @ Tims-MBP-2018 in ~/workspace [13:06:43]
$ ll
total 0
drwxr-xr-x  4 tim  staff   128B Jan 18  2020 kata
drwxr-xr-x  3 tim  staff    96B Jan 19 13:06 roamResearchTheme

# tim @ Tims-MBP-2018 in ~/workspace [13:06:45]
$ cd roamResearchTheme

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master o [13:06:48]
$ ll

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master o [13:06:48]
$ vim roam-research-dark.css
Error detected while processing /Users/tim/.vimrc:
line    1:
E488: Trailing characters: # 高亮
line    5:
E488: Trailing characters: # tab 转换
Press ENTER or type command to continue

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:08:07]
$ git status
On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	roam-research-dark.css

nothing added to commit but untracked files present (use "git add" to track)

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:08:09]
$ vim /Users/tim/.vimrc
Error detected while processing /Users/tim/.vimrc:
line    1:
E488: Trailing characters: # 高亮
" 高亮
line    5:
E488: Trailing characters: # tab 转换
Press ENTER or type command to continue

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:08:29]
$ vim /Users/tim/.vimrc
Error detected while processing /Users/tim/.vimrc:
line    1:
E492: Not an editor command: -- 高亮
line    5:
E16: Invalid range: -- tab 转换
Press ENTER or type command to continue

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:08:39]
$ vim /Users/tim/.vimrc
Error detected while processing /Users/tim/.vimrc:
line    1:
E488: Trailing characters: ##高亮
line    5:
E488: Trailing characters: ##tab 转换
Press ENTER or type command to continue

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:09:47]
$ vim /Users/tim/.vimrc

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:00]
$ vim /Users/tim/.vimrc

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:01]
$ git status
On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	roam-research-dark.css

nothing added to commit but untracked files present (use "git add" to track)

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:05]
$ git status
On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	roam-research-dark.css

nothing added to commit but untracked files present (use "git add" to track)

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:09]
$ git add roam-research-dark.css

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:11]
$ git status
On branch master

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)

	new file:   roam-research-dark.css


# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:12]
$ git push origin mas
error: src refspec mas does not match any.
error: failed to push some refs to 'git@github.com:codeGhost2018/roamResearchTheme.git'

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:14] C:1
$ git push origin master
error: src refspec master does not match any.
error: failed to push some refs to 'git@github.com:codeGhost2018/roamResearchTheme.git'

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:20] C:1
$ git remote -a
error: unknown switch `a'
usage: git remote [-v | --verbose]
   or: git remote add [-t <branch>] [-m <master>] [-f] [--tags | --no-tags] [--mirror=<fetch|push>] <name> <url>
   or: git remote rename <old> <new>
   or: git remote remove <name>
   or: git remote set-head <name> (-a | --auto | -d | --delete | <branch>)
   or: git remote [-v | --verbose] show [-n] <name>
   or: git remote prune [-n | --dry-run] <name>
   or: git remote [-v | --verbose] update [-p | --prune] [(<group> | <remote>)...]
   or: git remote set-branches [--add] <name> <branch>...
   or: git remote get-url [--push] [--all] <name>
   or: git remote set-url [--push] <name> <newurl> [<oldurl>]
   or: git remote set-url --add <name> <newurl>
   or: git remote set-url --delete <name> <url>

    -v, --verbose         be verbose; must be placed before a subcommand


# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:32] C:129
$ git remote -v
origin	git@github.com:codeGhost2018/roamResearchTheme.git (fetch)
origin	git@github.com:codeGhost2018/roamResearchTheme.git (push)

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:34]
$ git push -u origin master
error: src refspec master does not match any.
error: failed to push some refs to 'git@github.com:codeGhost2018/roamResearchTheme.git'

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:10:44] C:1
$ git branch -M main
error: refname refs/heads/master not found
fatal: Branch rename failed

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:11:38] C:128
$ git push -u origin main
error: src refspec main does not match any.
error: failed to push some refs to 'git@github.com:codeGhost2018/roamResearchTheme.git'

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:11:46] C:1
$ ll
total 56
-rw-r--r--  1 tim  staff    27K Jan 19 13:08 roam-research-dark.css

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:12:01]
$ ll -la
total 56
drwxr-xr-x   4 tim  staff   128B Jan 19 13:08 .
drwxr-xr-x   9 tim  staff   288B Jan 19 13:06 ..
drwxr-xr-x  10 tim  staff   320B Jan 19 13:12 .git
-rw-r--r--   1 tim  staff    27K Jan 19 13:08 roam-research-dark.css

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:12:04]
$ rm .git
rm: .git: is a directory

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:12:08] C:1
$ rm -r -f .git

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme [13:12:19]
$ git init
Initialized empty Git repository in /Users/tim/workspace/roamResearchTheme/.git/

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:12:22]
$ git status
On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	roam-research-dark.css

nothing added to commit but untracked files present (use "git add" to track)

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:12:29]
$ git add roam-research-dark.css

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:12:31]
$ git branch -M main
error: refname refs/heads/master not found
fatal: Branch rename failed

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:12:40] C:128
$ git branch -M main
error: refname refs/heads/master not found
fatal: Branch rename failed

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:12:56] C:128
$ git remote add origin git@github.com:codeGhost2018/roamResearchTheme.git

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:13:10]
$ git push -u origin main
error: src refspec main does not match any.
error: failed to push some refs to 'git@github.com:codeGhost2018/roamResearchTheme.git'

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:13:14] C:1
$ git push -u origin master
error: src refspec master does not match any.
error: failed to push some refs to 'git@github.com:codeGhost2018/roamResearchTheme.git'

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:13:19] C:1
$ git commit -m "init"

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'tim@Tims-MBP-2018.(none)')

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:14:14] C:128
$ git push origin master
error: src refspec master does not match any.
error: failed to push some refs to 'git@github.com:codeGhost2018/roamResearchTheme.git'

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:14:20] C:1
$ git push -u origin master
error: src refspec master does not match any.
error: failed to push some refs to 'git@github.com:codeGhost2018/roamResearchTheme.git'

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:14:28] C:1
$ git branch -M main
error: refname refs/heads/master not found
fatal: Branch rename failed

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:14:32] C:128
$ git status
On branch master

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)

	new file:   roam-research-dark.css


# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:14:56]
$ git commit -m "init"

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'tim@Tims-MBP-2018.(none)')

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:15:03] C:128
$ git config --global user.email "code.ghost2018@gmail.com"
## README.md

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:15:54]
$ git config --global user.name "codeGhost2018"

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:16:10]
$ git commit -m "init"
[master (root-commit) a68263a] init
 1 file changed, 970 insertions(+)
 create mode 100644 roam-research-dark.css

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master o [13:16:15]
$ git push -u origin master
Enumerating objects: 3, done.
Counting objects: 100% (3/3), done.
Delta compression using up to 8 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 6.17 KiB | 3.09 MiB/s, done.
Total 3 (delta 0), reused 0 (delta 0)
To github.com:codeGhost2018/roamResearchTheme.git
 * [new branch]      master -> master
Branch 'master' set up to track remote branch 'master' from 'origin'.

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master o [13:16:32]
$ vim README.md

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:17:59]
$ git add -u

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:18:00]
$ git status
On branch master
Your branch is up to date with 'origin/master'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	README.md

nothing added to commit but untracked files present (use "git add" to track)

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:18:01]
$ git add .

# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:18:05]
$ git status
On branch master
Your branch is up to date with 'origin/master'.

Changes to be committed:
  (use "git reset HEAD <file>..." to unstage)

	new file:   README.md


# tim @ Tims-MBP-2018 in ~/workspace/roamResearchTheme on git:master x [13:18:06]
/* ==UserStyle==
@name         Roam Research Dark
@namespace    vandermerwed
@version      1.0.19
@homepageURL  https://github.com/vandermerwed/Roam-Research-Dark
@updateURL    https://raw.githubusercontent.com/vandermerwed/Roam-Research-Dark/master/roam-research-dark.user.css
@license      CC-BY-SA-4.0
@author       vandermerwed
@preprocessor stylus

@advanced   select  font-heading-1    "H1 Font" {
    "Georgia": "Georgia, serif",
    "Palatino Linotype (Book Antiqua)": "'Palatino Linotype', 'Book Antiqua', Palatino, serif",
    "Times New Roman (Times)": "'Times New Roman', Times, serif, serif",

    "Arial (Helvetica)": "Arial, Helvetica, sans-serif",
    "Arial Black (Gadget)": "'Arial Black', Gadget, sans-serif",
    "Impact (Charcoal)": "Impact, Charcoal, sans-serif",
    "Inter": "Inter, sans-serif",
    "Lucida": "'Lucida Sans Unicode', 'Lucida Grande', sans-serif",
    "Tahoma (Geneva)": "Tahoma, Geneva, sans-serif",
    "Trebuchet MS (Helvetica)": "'Trebuchet MS', Helvetica, sans-serif",
    "Verdana (Geneva)": "Verdana, Geneva, sans-serif",

-- INSERT --                                                                                                                                                   1,2           Top
